<h3>Add ticket</h3>
<ul *ngIf="submitted">
  <li *ngIf="newIncident.controls['titre']?.errors?.minLength"> Please enter a title with at least 2 characters</li>
  <li *ngIf="newIncident.controls['titre']?.errors?.maxLength"> Please enter a title with less than 10 characters</li>
  <li *ngIf="newIncident.controls['email']?.errors?.required"> Please enter your email address</li>
  <li *ngIf="newIncident.controls['description']?.errors?.minLength"> Please enter a description with at least 10 characters</li>
  <li *ngIf="newIncident.controls['description']?.errors?.maxLength"> Please enter a description with less than 100 characters</li>
  <li *ngIf="newIncident.controls['level']?.errors?.required"> Level is required</li>
  <li *ngIf="newIncident.controls['type']?.errors?.required"> Type is required</li>
  <li *ngIf="newIncident.controls['progress']?.errors?.required"> % of progress is required</li>
</ul>

<form [formGroup]="newIncident" (ngSubmit)="submitForm()">
  <div class="form-group row">
    <label for="formTitre"> :</label>
    <input type="text" formControlName="titre" id="formTitre">
  </div>
  <div class="form-group row">
    <label for="formEmail">Email :</label>
    <input type="email" formControlName="email" id="formEmail">
  </div>
  <div class="form-group row">
    <label for="formDescription">Description</label>
    <input type="text" formControlName="description" id="formDescription">
  </div>
  <div class="form-group row">
    <label for="formType">Type :</label>
    <select formControlName="type" id="formType">
      <option>BUG</option>
      <option>FEATURE</option>
    </select>
  </div>
  <div class="form-group row">
    <label for="formLevel">Level :</label>
    <select formControlName="level" id="formLevel">
      <option>ERROR</option>
      <option>FATAL</option>
      <option>MEDIUM</option>
      <option>MINOR</option>
    </select>
  </div>
  <div class="form-group row">
    <label for="formProgress">Progress :</label>
    <input type="number" formControlName="progress" id="formProgress" min="1" max="100">
  </div>

  <button type="submit">Add</button>
</form>
