  <ul>
    <li>Ticket Number: {{incident?.id}}</li>
    <li>Title: {{incident?.titre}}</li>
    <li>Creator's Email: {{incident?.email}}</li>
    <li>Level: {{incident?.level}}</li>
    <li>Type: {{incident?.type}}</li>
    <li>Created on: {{incident?.dateCreation}}</li>
    <li>Progress: {{incident?.progress}}</li>
    <li>Description: {{incident?.description}}</li>
  </ul>
<button (click)="closeIncident()" class="btn btn-secondary btn-sm>"></button>
<button (click)="delete()" class="btn btn-secondary btn-sm">Delete</button>
<button [routerLink]="['home']" class="btn btn-secondary btn-sm">Back</button>
